<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="colaborador" appConnect="local" components="{dmxBootstrap5TableGenerator:{}}" -->
<meta name="ac:route" content="/backoffice/colaborador">
<main>
  <div class="row mb-4">
    <div class="col align-self-center">
      <h4 class="m-0">Gestão de colaboradores</h4>
    </div>
    <div class="col text-end align-self-center">
      <button id="btn1" class="btn btn-primary">Adicionar</button>
    </div>

  </div>
  <div class="row m-0">
    <div class="col p-3 bg-white rounded-3">
      <table class="table">
        <thead>
          <tr>
            <th class="titulo-tabela py-3">Nome completo</th>
            <th class="titulo-tabela py-3">Apelido</th>
            <th class="titulo-tabela py-3">Email</th>
          </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="listarColaboradores.data.queryColaboradores" id="tableRepeat1">
          <tr>
            <td dmx-text="nome_completo" class="texto-celula fw-semibold text-decoration-underline py-3 cursor-pointer"></td>
            <td dmx-text="apelido" class="texto-celula py-3"></td>
            <td dmx-text="email" class="texto-celula py-3"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>