<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="empresa" appConnect="local" -->
<meta name="ac:route" content="/backoffice/empresa">
<main>
    <div class="row">
        <div class="col">
            <h4>Fancy display heading</h4>
            <p class="text-muted">A nice paragraph</p>
        </div>
        <div class="col text-end">
            <button id="btn1" class="btn btn-primary">Adicionar</button>
        </div>
    </div>
    <div class="row">
        <div class="col p-3 mx-2 bg-white border border-light-subtle rounded-3 shadow-sm">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>