<!doctype html>
<html lang="pt">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Backoffice</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>

  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
</head>

<body is="dmx-app" id="backoffice" class="navbar-gradient min-vh-100">


  <div is="dmx-browser" id="navegacao"></div>
  <dmx-serverconnect id="deslogar" url="/api/autenticacao/sair" credentials="true" noload="true" dmx-on:success="navegacao.reload()"></dmx-serverconnect><dmx-serverconnect id="usuarioLogado" url="/api/autenticacao/identificar-usuario"></dmx-serverconnect>
  <dmx-serverconnect id="listarMinhasEmpresa" url="/api/empresa/listar-minhas-empresas"></dmx-serverconnect>
  <header class="mb-3">
    <!-- Top Navbar - Logo e Perfil -->
    <nav class="navbar navbar-backoffice navbar-top">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/backoffice/" internal="true">
          <img src="/assets/images/spacefeed-white.png" alt="Logo" class="img-fluid">
        </a>

        <!-- User Profile -->
        <div class="dropdown user-profile-dropdown">
          <div class="d-flex align-items-center text-white user-profile-trigger rounded-2 border border-1 border-white border-opacity-25" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="rounded-circle overflow-hidden me-2" style="width: 40px; height: 40px;">
              <img src="/assets/images/avatar.png" alt="User Avatar" class="img-fluid">
            </div>
            <span class="me-2">{{usuarioLogado.data.queryDados.nome_tratamento}}</span>
            <i class="fas fa-chevron-down fa-xs"></i>
          </div>

          <div class="dropdown-menu dropdown-menu-end p-0" style="width: 280px;">
            <div class="card border-0">
              <div class="card-body p-3">
                <div class="d-flex align-items-center mb-3">
                  <div class="rounded-circle overflow-hidden me-3" style="width: 64px; height: 64px;">
                    <img src="/assets/images/avatar.png" alt="User Avatar" class="img-fluid">
                  </div>
                  <div>
                    <h6 class="mb-1">{{usuarioLogado.data.queryDados.nome_tratamento}}</h6>
                    <p class="text-muted mb-0 small">{{usuarioLogado.data.queryDados.email}}</p>
                  </div>
                </div>

                <div class="list-group list-group-flush">
                  <a href="/profile" class="list-group-item list-group-item-action border-0 px-0">
                    <i class="fas fa-user-edit me-2"></i>Editar Perfil
                  </a>
                  <a href="/reset-password" class="list-group-item list-group-item-action border-0 px-0">
                    <i class="fas fa-key me-2"></i>Recuperar Senha
                  </a>
                  <a href="#" class="list-group-item list-group-item-action border-0 px-0 text-danger" dmx-on:click="deslogar.load({}); $event.preventDefault();">
                    <i class="fas fa-sign-out-alt me-2"></i>Sair
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Bottom Navbar - Links e Select -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-backoffice navbar-bottom bar-profile">
      <div class="container ">
        <!-- Links -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav gap-md-3">
            <li class="nav-item">
              <a href="/backoffice/unidades" class="nav-link nav-text" internal="true">Unidades</a>
            </li>
            <li class="nav-item">
              <a href="/backoffice/colaboradores" class="nav-link nav-text" internal="true">Colaboradores</a>
            </li>
            <li class="nav-item">
              <a href="/backoffice/postagens" class="nav-link nav-text" internal="true">Postagens</a>
            </li>
            <li class="nav-item">
              <a href="/backoffice/notificacoes-push" class="nav-link nav-text" internal="true">Notificações Push</a>
            </li>
            <li class="nav-item">
              <a href="/backoffice/suporte" class="nav-link nav-text" internal="true">Suporte</a>
            </li>
          </ul>
        </div>

        <!-- Company Select -->
        <div class="d-flex align-items-center company-select-wrapper">
          <select class="form-select me-2 py-2" id="company_selector">
            <option value="">Selecione a Empresa</option>
            <option value="1">Empresa 1</option>
            <option value="2">Empresa 2</option>
            <option value="3">Empresa 3</option>
          </select>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main Content Area -->
  <main is="dmx-view" id="content" class="py-4 container">
    <%- await include(content, locals); %>
  </main>



  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>

</body>

</html>