<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="contacriada" appConnect="local" -->
<meta name="ac:route" content="/conta-criada">

<div class="min-vh-100 login-bg py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center mb-5">
                <img class="img-fluid" src="/assets/images/spacefeed-white.png" width="200">
            </div>
            <div class="col-12 col-lg-8 col-xl-7 mb-4">
                <main>
                    <div class="jumbotron text-white">
                        <h1 class="display-3">Sua empresa foi criada com sucesso!</h1>
                        <p class="lead">Este CNPJ já está cadastrado em nossa plataforma e os dados para pagamento foram enviados para o seu e-mail.</p>
                        <hr class="my-4">
                        <p>Assim que a confirmação for concluída, sua conta será ativada automaticamente.</p>
                        <p>Caso a confirmação demore mais de 1 dia útil, entre em contato com o suporte para verificar a situação.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/" role="button">Página de login</a>
                        </p>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>