<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="escolhaempresa" appConnect="local" -->
<meta name="ac:route" content="/escolha-empresa">

<div class="min-vh-100 login-bg py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center mb-5">
                <img class="img-fluid" src="/assets/images/spacefeed-white.png" width="200">
            </div>
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="card shadow-sm rounded-4">
                    <div class="card-header bg-white py-3">
                        <h4 class="mb-0 text-black">Bem-vindo(a) {{usuario.data.queryDados.nome_tratamento}}. Escolha uma Empresa</h4>
                    </div>
                    <div class="card-body bg-light rounded-3">
                        <div class="row">
                            <div class="col">
                                <p>Please select your company here...</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white text-end">
                        <button type="button" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>