<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="novocliente" appConnect="local" -->
<dmx-value id="resposta" dmx-bind:value="0"></dmx-value>
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-4 style2 h-100"></div>
        <div class="col p-5 overflow-auto h-100">

            <h1 dmx-show="resposta.value==0||resposta.value==4">Criar conta</h1>
            <p dmx-show="resposta.value==0||resposta.value==4">O Spacefeed é a plataforma de comunicação institucional que aproxima alunos e equipe do polo por meio de uma experiência moderna, no estilo rede social. Compartilhe comunicados, publique conteúdos importantes e responda dúvidas — tudo em um só lugar.</p>

            <hr dmx-show="resposta.value==0||resposta.value==4">

            <form method="post" id="validarFormEmpresa" is="dmx-serverconnect-form" action="/api/signup/validacao-cnpj" dmx-show="resposta.value==0" dmx-on:success="resposta.setValue(validarFormEmpresa.data.respostaStatus)">
                <div class="form-group mb-3"> <label for="verificaCnpj" class="form-label">CNPJ</label>
                    <input type="text" class="form-control" id="verificaCnpj" name="verificaCnpj" aria-describedby="input1_help">
                </div>
                <div class="form-group mb-3"> <button id="btn1" class="btn btn-primary" type="submit">Continuar</button>
                </div>
            </form>
            <div class="d-flex flex-column" dmx-show="resposta.value==1">
                <h3>Pagamento pendente: aguarde a confirmação ou conclua o pagamento para ativar o acesso.</h3>
                <p>A empresa foi cadastrada com sucesso e a cobrança foi gerada no Asaas. Agora o sistema aguarda a confirmação do pagamento.
                <p>Enquanto estiver nesse status, a empresa não poderá acessar o sistema.</p>
                </p>
            </div>
            <div class="d-flex flex-column" dmx-show="resposta.value==2">
                <h3>Esta empresa já está ativa no sistema!</h3>
                <p>Esta empresa já está ativa. Faça login com o e-mail do responsável ou entre em contato com o suporte para recuperar o acesso.</p>
            </div>

            <div class="d-flex flex-column" dmx-show="resposta.value==3">
                <h3>Esta empresa está desativada no sistema.</h3>
                <p>A empresa foi desativada manualmente ou por razões administrativas (como inadimplência, encerramento de contrato ou outras ações internas).
                <p>Ela está impedida de acessar o sistema e de se recadastrar até que seja reativada. Se deseja reativar sua conta, entre em contato com o suporte: suporte@spacefeed.app.</p>
                </p>
            </div>
            <form id="cadastrarFormEmpresa" dmx-show="resposta.value==4" is="dmx-serverconnect-form" method="post" action="/api/signup/criar-conta" dmx-on:success="resposta.setValue(cadastrarFormEmpresa.data.respostaStatus)">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeFantasia" class="form-label">Razão social</label>
                            <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" aria-describedby="input1_help2" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeFantasia" class="form-label">Nome fantasia</label>
                            <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" aria-describedby="input1_help2" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomePolo" class="form-label">Nome do polo</label>
                            <input type="text" class="form-control" id="nomePolo" name="nomePolo" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="verificaCnpj" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="cnpj" name="cnpj" aria-describedby="input1_help1" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group mb-3"> <label for="endereco" class="form-label">Endereço completo com número</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" aria-describedby="input4_help" required="" data-msg-required="Este é um campo obrigatório!">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="cep" name="cep" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="cep" class="form-label">Whatsapp</label>
                            <input type="text" class="form-control" id="whatsapp" name="whatsapp" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeCompleto" class="form-label">Nome completo</label>
                            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeCompleto" class="form-label">Nome de tratamento (Ex.: João Pedro)<br></label>
                            <input type="text" class="form-control" id="tratamento" name="tratamento" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3"> <label for="email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="email" name="email" aria-describedby="input1_help4" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="email" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha" aria-describedby="input1_help4" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="confirmarSenha" class="form-label">Confirmar senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" aria-describedby="input1_help5" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senha" data-msg-equalto="As senha precisam ser indenticas!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <button id="btn1" class="btn btn-primary me-3" type="submit">Criar conta</button>
                            <button id="btn2" class="btn btn-light" dmx-on:click="navegacao.goto('/')">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex flex-column">
                <h3 class="mb-4">Escolha seu plano</h3>
                <form id="checkoutForm" class="col-9">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <select id="plano" class="form-select me-3 w-50" name="plano">
                            <option value="1">Option One</option>
                            <option value="2">Option Two</option>
                            <option value="3">Option Three</option>
                        </select><input id="poloAdicional" name="poloAdicional" type="number" class="form-control input-80px text-center me-3" dmx-bind:value="0">
                        <h6 class="m-0">R$ por Polo Adicional.&nbsp;</h6>
                    </div>

                    <hr dmx-show="resposta.value==0||resposta.value==4" class="my-4">

                    <div class="d-flex flex-row align-items-center justify-content-between  mb-3">
                        <h6 class="m-0">Assinatura Mensal</h6>
                        <h6 class="text-end m-0">R$</h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between  mb-3">
                        <h6 class="m-0">Polo Adicional</h6>
                        <h6 class="text-end m-0">R$</h6>
                    </div>

                    <hr dmx-show="resposta.value==0||resposta.value==4" class="my-4">

                    <div class="d-flex  mb-3 flex-column align-items-start">
                        <h6 class="mb-3">Total</h6>
                        <h2 class="m-0">R$</h2>
                        <button id="btn3" class="btn btn-primary my-3">Processar pagamento</button>
                        <p>Ao clicar em <b>“Processar pagamento”</b>, você concorda com os <b>Termos de Uso</b> e <b>Política de Privacidade</b> da plataforma.</p>
                        <p>Pagamento processado de forma segura pelo ASAAS. Não armazenamos nenhuma informação bancaria.</p>
                    </div>
                </form>



            </div>

        </div>
    </div>
</div>
<meta name="ac:route" content="/novo-cliente">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<script>
    $('#cep').mask('00000-000');
    $('#whatsapp').mask('(00) 0 0000-0000');
    $('#cnpj').mask('00.000.000/0000-00');
    $('#verificaCnpj').mask('00.000.000/0000-00');
</script>