<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="singup" appConnect="local" -->
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-4 style2 h-100"></div>
        <div class="col p-5 overflow-auto h-100">
            <h1>Fancy display heading</h1>
            <p>É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.</p>
            <hr>
            <form id="form1" class="mt-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input3" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input3" name="input1" aria-describedby="input1_help2">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input3" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input3" name="input1" aria-describedby="input1_help2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input1" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input2" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input2" name="input1" aria-describedby="input1_help1">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group mb-3"> <label for="input4" class="form-label">Some text</label>
                    <input type="text" class="form-control" id="input4" name="input4" aria-describedby="input4_help">
                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group mb-3"> <label for="input5" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input5" name="input1" aria-describedby="input1_help3">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input5" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input5" name="input1" aria-describedby="input1_help3">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col">
                        <div class="form-group mb-3"> <label for="input6" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input6" name="input1" aria-describedby="input1_help4">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input6" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input6" name="input1" aria-describedby="input1_help4">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="input7" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input7" name="input1" aria-describedby="input1_help5">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">

                    <div class="col">
                        <div class="form-group mb-3">
                            <button id="btn1" class="btn btn-primary">Button</button>
                            <button id="btn2" class="btn btn-light">Button</button>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>
<meta name="ac:route" content="/sing-up">