<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="singup" appConnect="local" components="{dmxValidator:{}}" -->
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-4 style2 h-100"></div>
        <div class="col p-5 overflow-auto h-100">
            <h1>Criar conta</h1>
            <p>O Spacefeed é a plataforma de comunicação institucional que aproxima alunos e equipe do polo por meio de uma experiência moderna, no estilo rede social. Compartilhe comunicados, publique conteúdos importantes e responda dúvidas — tudo em um só lugar.</p>
            <hr>
            <form id="signupForm" class="mt-4" is="dmx-serverconnect-form" method="post" action="/api/signup/criar-conta" dmx-on:error="notifies1.danger('Ocorreu um erro: '+lastError.responselastError.responselastError.messagelastError.messagelastError.statuslastError.status+' entre em contato com o suporte: suporte@spacefeed.app')" dmx-on:success="navegacao.goto('/')">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeFantasia" class="form-label">Razão social</label>
                            <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" aria-describedby="input1_help2" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeFantasia" class="form-label">Nome fantasia</label>
                            <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" aria-describedby="input1_help2" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomePolo" class="form-label">Nome do polo</label>
                            <input type="text" class="form-control" id="nomePolo" name="nomePolo" aria-describedby="input1_help" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="cnpj" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="cnpj" name="cnpj" aria-describedby="input1_help1" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group mb-3"> <label for="endereco" class="form-label">Endereço completo com número</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" aria-describedby="input4_help" required="" data-msg-required="Este é um campo obrigatório!">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="cep" name="cep" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="cep" class="form-label">Whatsapp</label>
                            <input type="text" class="form-control" id="whatsapp" name="whatsapp" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeCompleto" class="form-label">Nome completo</label>
                            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="nomeCompleto" class="form-label">Nome de tratamento (Ex.: João Pedro)<br></label>
                            <input type="text" class="form-control" id="tratamento" name="tratamento" aria-describedby="input1_help3" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3"> <label for="email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="email" name="email" aria-describedby="input1_help4" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="email" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha" aria-describedby="input1_help4" required="" data-msg-required="Este é um campo obrigatório!">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3"> <label for="confirmarSenha" class="form-label">Confirmar senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" aria-describedby="input1_help5" required="" data-msg-required="Este é um campo obrigatório!" data-rule-equalto="senha" data-msg-equalto="As senha precisam ser indenticas!">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <button id="btn1" class="btn btn-primary me-3" type="submit">Criar conta</button>
                            <button id="btn2" class="btn btn-light" dmx-on:click="navegacao.goto('/')">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<meta name="ac:route" content="/sing-up">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<script>
    $('#cep').mask('00000-000');
    $('#whatsapp').mask('(00) 0 0000-0000');
    $('#cnpj').mask('00.000.000/0000-00');
</script>