h1, h2, h3, h4, h5{
    font-weight: 600;
}

.cursor{
    cursor: pointer;
}
.ipt-text{
font-size: 14px;
height: 44px;
}
.ipt-text-02{
font-size: 14px;
height: 44px;
background-color: #f9f9f9;
}

.textarea-text{
font-size: 14px;
height: 90px;
background-color: #f9f9f9;
}
.btn-txt{
    font-size: 14px;
    height: 46px;
    font-weight: 500;
}
.btn-dark{
    background-color: black;
}
.btn-warning{
    background-color: orangered;
}
.btn-light{
    background-color: white;
}
.btn-txt-small{
    font-size: 14px;
    height: 40px;
    font-weight: 500;
}
.btn-txt-medium{
    font-size: 16px;
    height: 40px;
    font-weight: 400;
}
.content-body{
    margin-top: 96px;
}

.btn-txt-02{
    font-weight: 500;
    font-size: 15px;
}
.icon{
    color: #c4cada;
    opacity: 0.3;
}
.border-inner-form{
    border: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
}
.btn-txt-min{
    font-size: 12px;
    font-weight: 500;
    background-color: orangered;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}
.btn-txt-min-02{
    font-size: 13px;
    font-weight: 500;
}
.txt-tab{
    font-size: 14px;
    color: #78829d;
    font-weight: 200;
}
.txt-tab-button{
    font-weight: 500;
    font-size: 13px;
}
.txt-tab-title{
    font-size: 13px;
    color: #78829d;
    text-transform: uppercase;
    font-weight: 500;
}
.sub-title{
    font-size: 15px;
    line-height: 26px;
    display: block;
    font-weight: 500;
}
.new-shadow{
    -webkit-box-shadow: 0 6px 12px rgba(120, 130, 157, 0.1);
            box-shadow: 0 6px 12px rgba(120, 130, 157, 0.1);
}
.f-color{
    color: #78829d;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede o scroll vertical */
}

body {  
  background: radial-gradient(circle at center top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(201, 209, 217, 0.8) 100%);
  background-color: #f9f9f9; /* Cor de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  overflow-x: hidden; /* Para evitar rolagem horizontal */
}

.container-fluid.h-100, .row.h-100 {
  height: 100%; /* Garantir que os containers internos ocupem 100% da altura */
}

.bg-inner{
    background-color: #ffffff;
}
.txt-card-title{
    font-weight: 600;
}

/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  background-color: #fff; /* Fundo da barra de rolagem */
  border-radius: 24px;
}

/* Estilo do "thumb" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #000; /* Cor preta para o "thumb" */
  border-radius: 6px; /* Borda arredondada */
}

/* Estilo da área onde o thumb se move */
::-webkit-scrollbar-track {
    border-radius: 24px;
  background-color: #fff; /* Fundo branco para o "track" */
}

/* Hover para destacar o thumb */
border-radius: 24px;
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Cor mais escura no hover */
}
/* Estilos para navbar tipo toolbar */
.tool-menu {
    font-size: 13px;
    color: white;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda que possa aparecer */
}

.tool-menu:hover {
    color: white; /* Cor permanece branca ao passar o mouse */
}

.tool-menu:focus,
.tool-menu:active,
.tool-menu:visited {
    color: white; /* Garante que a cor permaneça branca em todos os estados */
    background-color: transparent; /* Impede que o fundo fique preto ao clicar */
    outline: none; /* Remove a borda de foco ao clicar */
    -webkit-box-shadow: none;
            box-shadow: none; /* Remove qualquer sombra ou realce ao clicar */
}

.navbar-nav img {
    height: 20px; /* Ajusta a altura dos ícones */
    margin: 0 8px; /* Ajuste de espaço ao redor dos ícones */
}

/* Remove padding extra na navbar */
.navbar {
    padding: 0;
}

.navbar-collapse {
    padding: 0;
}

.card-news {
    position: relative; /* Necessário para o overlay */
    background-image: url(../assets/images/space.jpg); /* Imagem de fundo */
    background-position: center;
    background-size: cover;
    height: 100%; /* Altura conforme necessário */
    color: white; /* Cor do texto */
}

.card-news::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Cor preta com opacidade */
    z-index: 1; /* Overlay fica atrás do conteúdo */
    border-radius: inherit; /* Mantém o arredondamento do card */
}

.card-news .row {
    position: relative;
    z-index: 2; /* Conteúdo (texto) fica acima do overlay */
}
.font-mini{
    font-size: 10px;
    font-weight: 200;
    line-height: 16px;
}
