.nav-color{
    color: #78829d;
    font-size: 14px;
    font-weight: 500;
}
.nav-color:hover{
    color: white;
    cursor: pointer;
}

.borda-container{
    border-color: rgba(0, 0, 0, 0.15);
}

.bg-input{
    background-color: #F1F1F4;
    border: none;
    font-size: 13px;
    height: 48px;
}
.btn-size{
    height: 48px;
    font-size: 14px;
}
.btn-small{
    height: 40px;
    font-size: 14px;
}
.borda-interna{
    border: solid;
    border-color: #F1F1F4;
    border-width: 1px;
    font-size: 14px;
}