.ipt-text{
font-size: 14px;
height: 44px;
}
.ipt-text-02{
font-size: 14px;
height: 44px;
background-color: #f9f9f9;
}
.btn-txt{
    font-size: 16px;
    height: 48px;
    font-weight: 600;
}
.content-body{
    margin-top: 120px;
}
.bg-inner{
    background-color: #f3f6f9;
}

.btn-txt-02{
    font-weight: 500;
}
.icon{
    color: #c4cada;
    opacity: 0.3;
}
.border-inner-form{
    border: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
}